:root{
    font-size: 18px;
}
* {
    margin: 0px;
    padding: auto;
    box-sizing: border-box;
  }
  body{
      font-family: 'kumbh sans', sans-serif;
      color: hsl(0, 11%, 12%);
  }
  section{
      background-color: hsl(185, 75%, 39%);
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      overflow: hidden;
  }
  .card{
      width: 350px;
      border-radius: 20px;
      overflow: hidden;
      background-color: #fff;
      text-align: center;
      position: relative;
      text-transform: capitalize;
  }
  .card-header{
      height: 150px;
      background-image: url(images/bg-pattern-card.svg);
      background-size: cover;
  }
  .card-body{
      padding: 0 2px 25px;
  }
  .img-holder{
      width: 110px;
      height: 110px;
      border-radius: 50%;
      border: 5px solid #fff;
      overflow: hidden;
      margin: -50px auto 30px auto;
  }
  .img-holder img{
      width: 100%;
      height: auto;
      display: block;
  }
  .name-age{
      font-size: 1.1rem;
      margin-bottom: 20px;
  }
  .age, 
  .city, 
  .meta{
      font-weight: 400px;
      color: hsl(0, 11%, 12%);
      opacity: .5;
  }
  .age{
      font-weight: 400;
      margin-left: 6px;
  }
  .city{
      font-size: .9re;
  }
  .card-footer{
      display: flex;
      border-top: 1px solid hsl(0, 3%, 86%);
      padding: 0 25px;
  }
  .card-footer .item{
      flex: 1;
      height: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  .card-footer .item .value{
      font-size: 1rem;
      margin-bottom: 6px;
  }
  .card-footer .item ,meta{
      font-size: .7rem;
      letter-spacing: 1px;
  }
.pic img{
    position: absolute;
}
.pic .p1,
.pic .p2{
    position: absolute;
    animation: 2s pic forwards;
    opacity: 0;
    
}
.pic .c1{
    top: -233px;
    left: -175px;
    transform: translate(-100px, -500px);
}
.pic .c2{
    bottom: -233px;
    right: -175px;
    transform: translate(100px, 500px);
}
@keyframes pic{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}
.attribution{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: translateY(100%);
    transition: .4s;
    padding: 20px;
    background-color: #fff;
    text-align: center;
}


text}
.attribution:hover{
    transform: translateY(0)
}
.attribution::before{
    content: ".";
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 100%;
    left: 0;
    z-index: 10;
}


/* * {
  margin: 0px;
  padding: auto;
  font-family: sans-serif;
}
.container{
  width: 80%;
  margin: auto;
  max-width: 800px;
  height: 100vw;
  background-color: #009688;
  background-size: cover;
  background-position: center;
}
.main {
  width: 100%;
  margin: auto;
  padding: auto;
  display: table-footer-group;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 120px;
  border-radius: 60px;
  float: center;
  cursor: pointer;
  margin-bottom: 10px;
  display: flex;s
}
.username {
  font-weight: bold;
  text-transform: capitalize;
  justify-content: center;
}
.container li{
    list-style: none;
  display: inline-block;
  margin: 20px;
  position: relative;
}
/* .td {
  border-collapse: separate;
  border-spacing: 10px 1em;
}
.main p {
  margin: auto;
  font-weight: lighter;
  /* line-height: 25px; */
  /* text-align: center;
  text-transform: capitalize;
}
.container table {
  border-collapse: separate;
  border-spacing: 50px 1em;
  text-transform: capitalize;
} */ */ */
